In [12]:
import pandas as pd

In [13]:
# now that we have the df for twitter sentiment of each day fron 20170101
sentiment_filename = 'dailysentiments.csv'
stock_filename = 'AAPL.csv'
sentiments = pd.read_csv(sentiment_filename, engine='python',index_col='date')
stocks = pd.read_csv(stock_filename, engine = 'python')
sentiments = sentiments.drop(columns=sentiments.columns[0])

In [14]:
# set the size of the sliding window of stock price prediction
window_size = 1
# use Open_prev to find the opening price of the previous day
stocks['Open_prev'] = stocks['Open'].shift(window_size)

In [15]:
from datetime import timedelta
dates = stocks.index
dates = pd.to_datetime(dates)

#to correct for if the gap is more than one day
for k in range(stocks.shape[0]):
  if k > 0 and (dates[k] - dates[k-1]) > timedelta(days =1):
    idx = stocks.index[k]
    stocks.at[idx, 'Open_prev'] = stocks.iloc[k-1]['Open']

In [16]:
stocks.rename(columns={0: "date"})
stocks

,Date,Open,High,Low,Close,Adj Close,Volume,Open_prev
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000,NaN
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800,95.108574
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100,96.510002
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600,96.167145
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500,96.864288
...,...,...,...,...,...,...,...,...
1253,2017-08-28,160.139999,162.000000,159.929993,161.470001,161.470001,25966000,159.649994
1254,2017-08-29,160.100006,163.119995,160.000000,162.910004,162.910004,29516900,160.139999
1255,2017-08-30,163.800003,163.889999,162.610001,163.350006,163.350006,27269600,160.100006
1256,2017-08-31,163.639999,164.520004,163.479996,164.000000,164.000000,26785100,163.800003
1257,2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16552800,163.639999

In [18]:
stocks['Diff'] = stocks['Close'] - stocks['Open_prev']
stocks.loc[stocks['Diff']> 0, 'Diff'] = 1
stocks.loc[stocks['Diff']< 0, 'Diff'] = -1
stocks.loc[stocks['Diff'] == 0, 'Diff'] = 0
stock_label_df = stocks[['Date','Diff']]

In [19]:
stock_label_df
#stock_label_df.to_csv('stockprice_label.csv')

            Date  Diff
0     2012-09-04   NaN
1     2012-09-05   1.0
2     2012-09-06   1.0
3     2012-09-07   1.0
4     2012-09-10  -1.0
...          ...   ...
1253  2017-08-28   1.0
1254  2017-08-29   1.0
1255  2017-08-30   1.0
1256  2017-08-31   1.0
1257  2017-09-01   1.0

[1258 rows x 2 columns]

In [20]:
'''
previous code:
# Create a df with sentiment analysis from previous two days given the dateindex 
sentiment_prev2days = pd.concat([sentiments.shift(1),sentiments.shift(2)],axis=1)
sentiment_prev2days = sentiment_prev2days.dropna()
sentiment_prev2days.insert(0,'date', sentiment_prev2days.index)
sentiment_prev2days.index.names = ['Date']
sentiment_prev2days
# note that 1448 tweet days vs. 1007 valid stock labels

'''

#sentiment analysis window
sentiment_window_size = 7

#first shift to the day before stock price window
sentiment_shift = sentiments.shift(window_size+1)

#accumulate features of sentiment analysis window
for i in range(3, sentiment_window_size + 2):
  sentiment_shift = pd.concat([sentiment_shift,sentiments.shift(i)],axis=1)

sentiment_shift = sentiment_shift.dropna()

sentiment_shift

,pos_sd,neu_mean,neu_sd,neg_mean,neg_sd,pos_sd,neu_mean,neu_sd,neg_mean,neg_sd,...,pos_sd,neu_mean,neu_sd,neg_mean,neg_sd,pos_sd,neu_mean,neu_sd,neg_mean,neg_sd
date,,,,,,,,,,,,,,,,,,,,,
2014-01-09,0.344085,0.400821,0.281704,0.098873,0.211905,0.289790,0.578190,0.254492,0.148739,0.216179,...,0.180233,0.671139,0.159680,0.084869,0.129022,0.296662,0.561700,0.321023,0.114403,0.286512
2014-01-10,0.306908,0.458364,0.306520,0.007969,0.005117,0.344085,0.400821,0.281704,0.098873,0.211905,...,0.286958,0.516131,0.262761,0.229705,0.290300,0.180233,0.671139,0.159680,0.084869,0.129022
2014-01-11,0.284489,0.581946,0.243650,0.108002,0.111326,0.306908,0.458364,0.306520,0.007969,0.005117,...,0.078032,0.815684,0.076405,0.006811,0.002112,0.286958,0.516131,0.262761,0.229705,0.290300
2014-01-12,0.258624,0.521105,0.264723,0.147610,0.297327,0.284489,0.581946,0.243650,0.108002,0.111326,...,0.184305,0.471057,0.179991,0.009825,0.006883,0.078032,0.815684,0.076405,0.006811,0.002112
2014-01-13,0.302418,0.488181,0.301510,0.015007,0.015530,0.258624,0.521105,0.264723,0.147610,0.297327,...,0.289790,0.578190,0.254492,0.148739,0.216179,0.184305,0.471057,0.179991,0.009825,0.006883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-03-27,0.214393,0.677398,0.188049,0.043537,0.057138,0.261528,0.622742,0.213270,0.140099,0.166732,...,0.151157,0.798132,0.136149,0.024577,0.031266,0.276922,0.735916,0.275290,0.008165,0.005553
2016-03-28,0.383600,0.319204,0.272013,0.110456,0.210284,0.214393,0.677398,0.188049,0.043537,0.057138,...,0.256130,0.593575,0.252161,0.087198,0.205035,0.151157,0.798132,0.136149,0.024577,0.031266
2016-03-29,0.275208,0.519367,0.233766,0.046046,0.087982,0.383600,0.319204,0.272013,0.110456,0.210284,...,0.227506,0.647421,0.211106,0.113877,0.181667,0.256130,0.593575,0.252161,0.087198,0.205035
2016-03-30,0.338696,0.421137,0.289449,0.060372,0.146606,0.275208,0.519367,0.233766,0.046046,0.087982,...,0.342012,0.497721,0.308624,0.073932,0.178236,0.227506,0.647421,0.211106,0.113877,0.181667
2016-03-31,0.231327,0.644940,0.198166,0.138931,0.176880,0.338696,0.421137,0.289449,0.060372,0.146606,...,0.261528,0.622742,0.213270,0.140099,0.166732,0.342012,0.497721,0.308624,0.073932,0.178236

In [21]:
dataframe = sentiment_shift.merge(stock_label_df,how='left', left_on='date', right_on='Date')
dataframe = dataframe.dropna()
dataframe

,pos_sd,neu_mean,neu_sd,neg_mean,neg_sd,pos_sd,neu_mean,neu_sd,neg_mean,neg_sd,...,neu_sd,neg_mean,neg_sd,pos_sd,neu_mean,neu_sd,neg_mean,neg_sd,Date,Diff
0,0.344085,0.400821,0.281704,0.098873,0.211905,0.289790,0.578190,0.254492,0.148739,0.216179,...,0.159680,0.084869,0.129022,0.296662,0.561700,0.321023,0.114403,0.286512,2014-01-09,-1.0
1,0.306908,0.458364,0.306520,0.007969,0.005117,0.344085,0.400821,0.281704,0.098873,0.211905,...,0.262761,0.229705,0.290300,0.180233,0.671139,0.159680,0.084869,0.129022,2014-01-10,-1.0
4,0.302418,0.488181,0.301510,0.015007,0.015530,0.258624,0.521105,0.264723,0.147610,0.297327,...,0.254492,0.148739,0.216179,0.184305,0.471057,0.179991,0.009825,0.006883,2014-01-13,-1.0
5,0.191567,0.700022,0.191155,0.008492,0.002140,0.302418,0.488181,0.301510,0.015007,0.015530,...,0.281704,0.098873,0.211905,0.289790,0.578190,0.254492,0.148739,0.216179,2014-01-14,1.0
6,0.309834,0.578260,0.284057,0.104565,0.179059,0.191567,0.700022,0.191155,0.008492,0.002140,...,0.306520,0.007969,0.005117,0.344085,0.400821,0.281704,0.098873,0.211905,2014-01-15,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,0.227506,0.647421,0.211106,0.113877,0.181667,0.256130,0.593575,0.252161,0.087198,0.205035,...,0.229408,0.089732,0.134921,0.346102,0.478557,0.293634,0.103833,0.199427,2016-03-24,-1.0
770,0.383600,0.319204,0.272013,0.110456,0.210284,0.214393,0.677398,0.188049,0.043537,0.057138,...,0.252161,0.087198,0.205035,0.151157,0.798132,0.136149,0.024577,0.031266,2016-03-28,-1.0
771,0.275208,0.519367,0.233766,0.046046,0.087982,0.383600,0.319204,0.272013,0.110456,0.210284,...,0.211106,0.113877,0.181667,0.256130,0.593575,0.252161,0.087198,0.205035,2016-03-29,1.0
772,0.338696,0.421137,0.289449,0.060372,0.146606,0.275208,0.519367,0.233766,0.046046,0.087982,...,0.308624,0.073932,0.178236,0.227506,0.647421,0.211106,0.113877,0.181667,2016-03-30,1.0
773,0.231327,0.644940,0.198166,0.138931,0.176880,0.338696,0.421137,0.289449,0.060372,0.146606,...,0.213270,0.140099,0.166732,0.342012,0.497721,0.308624,0.073932,0.178236,2016-03-31,1.0

In [22]:

filename = "database_prev{}days.csv".format(sentiment_window_size)
filename

'database_prev7days.csv'

In [24]:
dataframe.to_csv(filename)