In [125]:
import pandas as pd

In [126]:
# now that we have the df for twitter sentiment of each day fron 20170101
sentiment_filename = 'dailysentiments.csv'
stock_filename = 'stockprice.csv'
sentiments = pd.read_csv(sentiment_filename, engine='python',index_col='date')
stocks = pd.read_csv(stock_filename, engine = 'python',index_col='Date')
sentiments = sentiments.drop(columns=sentiments.columns[0])
stocks

,date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Close_prev,Diff
Date,,,,,,,,,,
2016-12-30,20161230,43.259998,43.500000,42.335999,42.737999,23213000,0,0.0,NaN,NaN
2017-01-03,20170103,42.972000,44.066002,42.192001,43.397999,29616500,0,0.0,NaN,NaN
2017-01-04,20170104,42.950001,45.599998,42.862000,45.397999,56067500,0,0.0,42.737999,0.212002
2017-01-05,20170105,45.284000,45.495998,44.389999,45.349998,29558500,0,0.0,43.397999,1.886002
2017-01-06,20170106,45.386002,46.062000,45.090000,45.801998,27639500,0,0.0,45.397999,-0.011997
...,...,...,...,...,...,...,...,...,...,...
2020-12-28,20201228,674.510010,681.400024,660.799988,663.690002,32278600,0,0.0,645.979980,28.530029
2020-12-29,20201229,661.000000,669.900024,655.000000,665.989990,22910800,0,0.0,661.770020,-0.770020
2020-12-30,20201230,672.000000,696.599976,668.359985,694.780029,42846000,0,0.0,663.690002,8.309998
2020-12-31,20201231,699.989990,718.719971,691.119995,705.669983,49649900,0,0.0,665.989990,34.000000
2021-01-04,20210104,719.460022,744.489990,717.190002,729.770020,48638200,0,0.0,694.780029,24.679993

In [127]:
# stocks.index = pd.to_datetime(stocks['Date'])
stocks['Close_prev'] = stocks['Close'].shift(2)

In [128]:
stocks['Diff'] = stocks['Open'] - stocks['Close_prev']
stocks

,date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Close_prev,Diff
Date,,,,,,,,,,
2016-12-30,20161230,43.259998,43.500000,42.335999,42.737999,23213000,0,0.0,NaN,NaN
2017-01-03,20170103,42.972000,44.066002,42.192001,43.397999,29616500,0,0.0,NaN,NaN
2017-01-04,20170104,42.950001,45.599998,42.862000,45.397999,56067500,0,0.0,42.737999,0.212002
2017-01-05,20170105,45.284000,45.495998,44.389999,45.349998,29558500,0,0.0,43.397999,1.886002
2017-01-06,20170106,45.386002,46.062000,45.090000,45.801998,27639500,0,0.0,45.397999,-0.011997
...,...,...,...,...,...,...,...,...,...,...
2020-12-28,20201228,674.510010,681.400024,660.799988,663.690002,32278600,0,0.0,645.979980,28.530029
2020-12-29,20201229,661.000000,669.900024,655.000000,665.989990,22910800,0,0.0,661.770020,-0.770020
2020-12-30,20201230,672.000000,696.599976,668.359985,694.780029,42846000,0,0.0,663.690002,8.309998
2020-12-31,20201231,699.989990,718.719971,691.119995,705.669983,49649900,0,0.0,665.989990,34.000000
2021-01-04,20210104,719.460022,744.489990,717.190002,729.770020,48638200,0,0.0,694.780029,24.679993

In [129]:
stocks.to_csv('stockprice.csv')

In [ ]:
'''
for day in date_predict:
    # store a binary value whether the stock price increases or decreases
    cols = ["date", "pos_mean", "pos_sd", "neu_mean", "neu_sd", "neg_mean", "neg_sd"]
    df = pd.DataFrame(columns=cols)
    df['date'] = day
    for prev in range(1,window_size+1):
        sentiment_df = sentiments[sentiments['date'] == day].drop(['date'],axis=1)
        
    
'''